.container{
    margin-bottom:20px;
    margin-top:20px
}

@font-face {
    font-family: GOT;
    src: "public/assets/fonts/Nosifer-Regular.ttf";
}



.span-order-characters{
    color:white;
    font-family: 'Nosifer', cursive;
}

.order-button{
    background-color: red;
    border: none;
    color:white;
    width: 5%;
    height: 20px;
    border-radius:5px;
    
}