
.c-nav {

    &__link{
        list-style:none;
        display: inline;
        margin:140px;
        text-decoration: none;
    }
}
.link{
    text-decoration: none;
    font-size: 22px;
    color:white;

}

  
  