.c_gallery{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    padding-left: 100px;
    padding-right: 100px;
    overflow-y: scroll;
    height: 470px;
    scrollbar-width: 10px;
    scrollbar-color: rgb(245, 245, 242) #0a0a0a;
    scrollbar-color:white;
   
    
}


.c_gallery_containt_image{
    width:700px;
    // padding: 5px;
    // border: solid 1px rgb(95, 95, 94);
    margin: 5px;
    
   
}
.c_gallery__image{
    width: 100%;
    height: 100&;
    object-fit: cover;
    
   
    
   
}
.c_gallery_name{
    color: rgb(95, 94, 94);
    
}
.nav-container{
    position: absolute;
}